PUBLIC_BREVO_API_KEY=din-brevo-api-nyckel
PUBLIC_BREVO_SENDER=info@marieuhrbom.se
PUBLIC_BREVO_RECIPIENT=info@marieuhrbom.se
PUBLIC_BREVO_LIST_HOMEOPATI=3
PUBLIC_BREVO_LIST_VAGLEDNING=4
PUBLIC_BREVO_LIST_HANTVERK=5
